<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head></head>
<body>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Operating System</th>
			<th>
				<div class="text-right"></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td th:text="${test}">Target 1</td>
			<td><img alt=""
				src="project_overview_files/Debian-85d813ee291f23961be994e379ce25032711107ecca09dc5ebc4d.png" />
				Debian 8.2</td>
			<td class="text-right">
				<div class="btn-group">
					<span class="btn btn-sm btn-default"> <a
						class="glyphicon glyphicon-pencil"
						data-id="aid_hosts_obx.metrixware.local_edit"
						href="http://localhost:3000/hosts/obx.metrixware.local/edit">&nbsp;Edit</a>
					</span> <a class="btn btn-default btn-sm dropdown-toggle"
						data-id="aid_not_defined" data-toggle="dropdown"
						href="#"> <i class="caret"></i>
					</a>
					<ul class="dropdown-menu pull-right">
						<li><a class="glyphicon glyphicon-duplicate"
							data-id="aid_hosts_obx.metrixware.local_clone"
							href="http://localhost:3000/hosts/obx.metrixware.local/clone">&nbsp;Clone</a>
						</li>
						<li><a action="destroy"
							class="delete glyphicon glyphicon-trash"
							data-confirm="Are you sure you want to delete Environment1?"
							data-id="aid_hosts_obx.metrixware.local"
							data-method="delete"
							href="http://localhost:3000/hosts/obx.metrixware.local"
							rel="nofollow">&nbsp;Delete</a></li>
					</ul>
				</div>
				<button class="btn btn-default glyphicon glyphicon-play"
					data-target="#GSCCModal" data-toggle="modal"
					type="button">&nbsp;Instantiate</button>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>