<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      >
    <body>

        <div layout:fragment="content">	
            <main class="container-fluid" role="main">

                <div class="content">
                	<div class="alert alert-info alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  Welcome to <strong>KSF Command and Control</strong>! From this panel, you will be able to see the list of all your projects managed by Komea Software Factory.
					</div>
                    <h1>
                        Projects
                    </h1>
                    <table class="table table-striped project-list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Tools</th>
                                <th>Actions</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="prod : ${projects}">
                                <td>
                                    <a th:text="${prod.project.name}" th:href="@{/ui/projects/}+${prod.project.key}"></a>
                                </td>
                                <td th:text="${prod.user.firstName}+' '+${prod.user.lastName}"></td>
                            	<td class="project-list-tools">
                            		<img th:src="@{/pictures/foreman.png}" alt="Foreman" data-toggle="tooltip" data-placement="bottom" title="Foreman" />
                            		<img th:src="@{/pictures/puppet.png}" alt="Puppet" data-toggle="tooltip" data-placement="bottom" title="Puppet" />
                            	</td>
                            	<td>
                            		<a th:href="@{/ui/projects/}+${prod.project.key}" class="btn btn-primary">
                            			<span class="glyphicon glyphicon-eye-open"></span> Display
                            		</a>
                            	</td>
                            	<td></td>
                            	<td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
       
    </body>
</html>