<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Home</title>
</head>
<body>

	<div layout:fragment="content">
		<main class="container-fluid" role="main">
		<div class="content project-overview">
			<div class="row">
				<div class="span12" role="tabpanel">
					
					<ul class="nav nav-tabs tabSelect" id="toolsTab" role="tablist">
						<li class="active" role="presentation">
							<a aria-controls="overview" data-toggle="tab" href="#overview" role="tab"> 
								Project Overview
							</a>
						</li>
						<li role="presentation" th:each="panel,it : ${panels}" >
							<a th:attr="aria-controls=${'#pluginTab'+it.index}" 
								th:href="${'#pluginTab'+it.index}"
								data-toggle="tab" 
								role="tab"
								th:text="${panel.title}">								
							</a>
						</li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="overview" role="tabpanel">

							<div class="container-fluid overview-container">
								<div class="row">
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h3 class="panel-title">Project information</h3>
											</div>
											<div class="panel-body">												
												<ul class="project-properties" style="list-style-type: none">
													<li>
														<strong>Name:</strong> 
														<label th:text="${projectData.project.name}">test</label>
													</li>
													<li>
														<strong>Owner:</strong>
														<label th:text="${projectData.user.firstName+' '+projectData.user.lastName}">User</label>
													</li>
<!-- 													<li> -->
<!-- 														<h5> -->
<!-- 															<strong>Creation date:</strong> 2015-11-09 09:06:06 UTC -->
<!-- 														</h5> -->
<!-- 													</li> -->
													<li>
														<h5>
															<strong>Repository:</strong> test.git
														</h5>
													</li>
												</ul>
												<div>
													<ul style="list-style-type: none">
														<li>
															<button class="btn btn-primary"
																data-target="#createTargetModal" data-toggle="modal"
																type="button">Create Target...</button>
															<button class="btn btn-primary"
																data-target="#createEnvModal" data-toggle="modal"
																type="button">Create Environment...</button>
														</li>
													</ul>
												</div>
												<div aria-hidden="true" aria-labelledby="myModalLabel"
													class="modal fade" id="createTargetModal" role="dialog"
													tabindex="-1">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button aria-hidden="true" class="close"
																	data-dismiss="modal" type="button">×</button>
																<h4 class="modal-title" id="myModalLabel">Create
																	Target</h4>
															</div>
															<div class="modal-body">
																<form class="form-horizontal" role="form">
																	<input name="authenticity_token"
																		value="DCRsdp8vbca8Io5tevdr0F5XAN++Pl3pQmYkOWKIdoZMQMzuHO/rampBTrg6jTgjA9bOZGzl7nSd1x6enS4TKQ=="
																		type="hidden" />
																	<div class="form-group">
																		<label class="control-label col-sm-2" for="name"
																			required="true">Name:</label>
																		<div class="col-sm-10">
																			<input class="form-control" id="name"
																				placeholder="Target name" type="text" />
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label col-sm-2" for="source">Source</label>
																		<div class="col-sm-10">
																			<select class="form-control" id="source">
																				<option selected="selected">source 1</option>
																				<option>source 2</option>
																			</select>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label col-sm-2"
																			for="operatingsystem">Operating System</label>
																		<div class="col-sm-10">
																			<select class="form-control" id="operatingsystem">
																				<option selected="selected">Debian 8.2</option>
																			</select>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label col-sm-2"
																			for="computeprofiles">Compute Profiles</label>
																		<div class="col-sm-10">
																			<select class="form-control" id="computeprofiles">
																				<option selected="selected">Small</option>
																				<option>Medium</option>
																				<option>Large</option>
																			</select>
																		</div>
																	</div>
																</form>
															</div>
															<div class="modal-footer">
																<button class="btn btn-default" data-dismiss="modal"
																	type="button">Cancel</button>
																<button class="btn btn-primary" type="button">Create</button>
															</div>
														</div>
													</div>
												</div>
												<div aria-hidden="true" aria-labelledby="myModalLabel"
													class="modal fade" id="createEnvModal" role="dialog"
													tabindex="-1">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button aria-hidden="true" class="close"
																	data-dismiss="modal" type="button">×</button>
																<h4 class="modal-title" id="myModalLabel">Create
																	Environment</h4>
															</div>
															<div class="modal-body">
																<form action="/environment/new" class="form-horizontal"
																	id="new_env" method="post" role="form">
																	<input name="authenticity_token"
																		value="dgUDyDZN3IZrc41nwz2jWgOkx5Gpv4Lds1/cELwWhHk2YaNQtY1aKr0QTbKDR/CpXiUJKntkMUBs7ua3Q7Dh1g=="
																		type="hidden" />
																	<div class="form-group">
																		<label class="control-label col-sm-2" for="source">Source</label>
																		<div class="col-sm-10">
																			<select class="form-control" id="source"></select>
																		</div>
																	</div>
																	<div class="form-group">
																		<div class="col-sm-12">
																			<textarea class="form-control" id="modules"
																				name="modules" rows="15"></textarea>
																		</div>
																	</div>
																	<div class="form-group">
																		<div class="col-sm-12">
																			<input class="form-control" id="envName"
																				name="env_name" placeholder="Environment Name"
																				type="text" />
																		</div>
																	</div>
																</form>
															</div>
															<div class="modal-footer">
																<button class="btn btn-default" data-dismiss="modal"
																	type="button">Cancel</button>
																<button class="btn btn-primary" type="submit">Create</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-6" th:each="widget : ${@projectDashboardWidgets.getDashboardWidgets()}">
										<div class="panel panel-warning project-widget-panel">
											<div class="panel-heading">												
												<img th:src="@{${widget.getIconUrl()}}"/>
												<h3 class="panel-title" th:text="${widget.title}"></h3>													
												<ul class="nav nav-pills navbar-right">
												  <li role="presentation" class="dropdown">
												    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
												      Actions <span class="caret"></span>
												    </a>
												    <ul class="dropdown-menu">
												      <li th:each="action : ${widget.getDropdownActions()}">
												      	<a th:href="${action.url}" th:text="${action.actionName}"></a>
												      </li>
												    </ul>
												  </li>
												</ul>																				
											</div>
											<div class="panel-body" th:utext="${widget.getHtmlPanelBody()}"></div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<div th:each="panel,it : ${panels}" 
							class="tab-pane" 
							th:utext="${panel.content}"
							th:attr="id=${'pluginTab'+it.index}" 
							role="tabpanel">
							<iframe src="" frameborder="0" height="100%" width="100%">
							&lt;p&gt;Your browser does not support iframes.&lt;/p&gt; </iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
</body>
</html>