<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Komea Software Factory | Command and Control</title>
    </head>
    <body th:with="currentUser=${@authService.getCurrentUser()}">
        <a href="#" th:if="${#httpServletRequest.remoteUser != null}"
           class="dropdown-toggle" data-toggle="dropdown"> <img
                th:src="'http://www.gravatar.com/avatar/'+ ${currentUser.gravatar} + '?s=48'"
                class="user-image" alt="User Image" src="" /> <span class="hidden-xs"
                th:text="${currentUser.login}">Name of the user</span>
        </a>

        <!-- Main content -->
        <div layout:fragment="content" />
    </body>
</html>