<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>


        <div layout:fragment="content">

            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>						
            <!-- wicket:message="value:login.submit.label" -->
            <form class="form-horizontal" th:action="@{/login}" method="post">                
                <input id="username" type="text" name="username"></input>
                <input type="password" name="password" id="password" placeholder="Password" />
                <input type="checkbox" name="remember-me" id="remember-me"/>                
                <button type="submit" value="Sign in">Sign in</button>
            </form>
        </div>

    </body>
</html>